
.card {
    font-family: var(--font-mono);
    border-radius: var(--radius-3);
    height: 10rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: white;
    box-shadow: var(--shadow-1);
    transition: box-shadow 1s;
}

.card.right {
    grid-template-columns: 2fr 1fr;
    text-align: right;
}

.card.right .overview {
    order: 1;
    border-radius: 0 var(--radius-3) var(--radius-3) 0;
}

.card .overview {
    border-radius: var(--radius-3) 0 0 var(--radius-3);
    background: var(--gradient-7);
    padding: 1rem;
}

.card .detail {
    color: black;
    padding: 1rem;
}

.card:hover {
    cursor: pointer;
    box-shadow: var(--shadow-5);
    transition: box-shadow 1s;
}