.main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 50%;
    height: 50%;
    gap: 1rem;
    display: grid;
    grid-template-areas:    "firstname lastname"
                            "title title"
                            "description description"
                            "type save";
    grid-template-columns: repeat(2, 1fr);
}

.form input, .form select, .form textarea {
    padding: 0.5rem;
    min-width: 0;
    font-size: 1.5rem;
}

.form textarea {
    resize: none;
}

.form div:has(#fName) {
    grid-area: firstname;
}

.form div:has(#lName) {
    grid-area: lastname;
}

.form div:has(#topicTitle) {
    grid-area: title;
}

.form div:has(#topicDescription) {
    grid-area: description;
    position: relative
}

.inputContainer {
    display: grid;
}

.charactersLeft {
    position:absolute;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
}